* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  font: 62.5%;
}

/* GENERAL */

body {
  display: flex;
  min-height: 100vh;
  background-color: #000;
}

/* ------------- GRID 1 (PRINCIPAL)--------------*/

.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 30rem;
}

/* HEADER */

.divHeader {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  grid-template: 1/2;
  grid-row: 1/2;
}

.header__imagen {
  height: 5rem;
}

/* MENU NAV */

.fas {
  color: #fff;
}

nav {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-btn {
  font-size: 2rem;
  color: #fff;
  margin-right: 2rem;
  cursor: pointer;
}

.nav-menu {
  grid-column: 1/2;
  grid-row: 1/2;
  position: fixed;
  width: 100%;
  top: 4.5rem;
  background: rgba(0, 0, 0, 0.884);
  text-align: center;
  transition: all 3s;
}

.nav-menu li {
  display: none;
  line-height: 1rem;
  margin: 4rem;
  transition: all 1s;
}

.nav-menu li a {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.nav-menu li a.active {
  color: #0a6d4f;
}
.nav-menu li a:hover {
  color: #0a6d4f;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 50vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/* MAIN */

main {
  height: 80vh;
}

/* SECTION 1  IMAGEN */

.section1 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: auto;
  object-fit: contain;
}

/* SECTION 2 PARRAFO */

.section2 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 p {
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

/* SECTION 3 IMAGEN*/

.section3 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: auto;
  object-fit: contain;
}

/* SECTION 4 PARRAFO */

.section4 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 p {
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* SECTION 5 IMAGEN */

.section5 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: auto;
  object-fit: contain;
}

/* SECTION 6 PARRAFO */

.section6 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6 p {
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

/* SECTION 7  IMAGEN */

.section7 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section7 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: auto;
  object-fit: contain;
}

/* SECTION 8 PARRAFO  */

.section8 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8 p {
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* SECTION 9 TITULO */

.section9__div {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  color: #fff;
  margin: 3rem 0;
}

.section9__div--tittle {
  background-image: url(../imagenes/cervezafondo.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  border-top: 0.1rem solid #0a6d4f;
  border-bottom: 0.1rem solid #0a6d4f;
}

/* SECTION 10 FOTOS REDONDAS */

.section10 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section10 div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  padding: 0 0.5rem;
}

.imagen__redonda img {
  height: 8rem;
  width: 70%;
  border-radius: 50%;
  padding: 0.2rem;
}

/* SECTION 11 */

.section11 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section11 h2 {
  color: #fff;
  border-bottom: 0.2rem solid #0a6d4f;
  margin-bottom: 1rem;
}

/* SECTION 12  IMAGEN */

.section12 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section12__imagen img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  margin: auto;
  object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* SECTION 13 h2 */

.section13 {
  grid-column: 1/1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section13 h2 {
  color: #fff;
  text-align: center;
  padding: 0 0.5rem;
}

/* SECTION 14 BENEFICIOS */

.section14 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.section14 ul li {
  color: #fff;
  margin-bottom: 1rem;
}

/* FOOTER GRID*/

.footer__grid {
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (6, 1fr);
  margin-top: 1rem;
}

/* FOOTER  */
/* LOGO */
.logo__footer {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
}

.logo__footer img {
  width: 10rem;
}

/* CONTACTO */
.contacto__footer {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.contacto__footer h2 {
  border-bottom: 0.1rem solid #0a6d4f;
}
/* LINK SECCIONES */
.secciones__footer {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.link__footer {
  text-decoration: none;
  color: #fff;
}

.secciones__footer h2 {
  color: #fff;
  border-bottom: 0.1rem solid #0a6d4f;
}

/* REDES SOCIALES */
.redes__footer {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.redes__footer h2 {
  color: #fff;
  border-bottom: 0.1rem solid #0a6d4f;
}

.redes__imagen {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.linkRedes__footer {
  text-decoration: none;
  color: #fff;
}

.linkRedes__footer--imagen {
  width: 5rem;
}

/* COPYRIGHT */
.copyright {
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.copyright h4 {
  color: #fff;
}

/* --------------------ESTILOS PAGINA MENU-------------------- */

/* GRID */

.grid__paginaMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (15, 1fr);
}

/* MAIN */

/* section 1  MENU*/

.section1__menu {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/hamburguesa2.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section1__container {
  width: 60%;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.342);
}

.section1__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section1__container h4 {
  color: #fff;
  text-align: center;
}

/* section 2 MENU */

.section2__menu {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/hamburguesa3.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section2__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section2__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section2__container h4 {
  color: #fff;
  text-align: center;
}

/* section 3  MENU */

.section3__menu {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/tasty.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section3__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section3__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section3__container h4 {
  color: #fff;
  text-align: center;
}

/* section 4 MENU */

.section4__menu {
  grid-column: 1/2;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/chinatown.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section4__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section4__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section4__container h4 {
  color: #fff;
  text-align: center;
}

/* section 5 MENU */

.section5__menu {
  grid-column: 1/2;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/antonieta.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section5__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section5__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section5__container h4 {
  color: #fff;
  text-align: center;
}

/* section 6 MENU */

.section6__menu {
  grid-column: 1/2;
  grid-row: 7/8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/veggie.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section6__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section6__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section6__container h4 {
  color: #fff;
  text-align: center;
}

/* section 7 MENU */

.section7__menu {
  grid-column: 1/2;
  grid-row: 8/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/negroni.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section7__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section7__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section7__container h4 {
  color: #fff;
  text-align: center;
}

/* section 8 MENU */

.section8__menu {
  grid-column: 1/2;
  grid-row: 9/10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/bigthree.jpeg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section8__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section8__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section8__container h4 {
  color: #fff;
  text-align: center;
}

/* section 9 MENU */

.section9__menu {
  grid-column: 1/2;
  grid-row: 10/11;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/dominguero.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section9__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section9__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section9__container h4 {
  color: #fff;
  text-align: center;
}

/* section 10 MENU */

.section10__menu {
  grid-column: 1/2;
  grid-row: 11/12;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/papas2.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section10__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section10__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section10__container h4 {
  color: #fff;
  text-align: center;
}

/* section 11 MENU */

.section11__menu {
  grid-column: 1/2;
  grid-row: 11/12;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/chocotorta.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section11__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section11__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section11__container h4 {
  color: #fff;
  text-align: center;
}

/* section 12 MENU */

.section12__menu {
  grid-column: 1/2;
  grid-row: 11/12;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/tiramisu.jpg);
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.section12__container {
  width: 60%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.342);
}

.section12__container h2 {
  color: #fff;
  text-align: center;
  opacity: 1;
  border-bottom: 0.1rem solid #0a6d4f;
}

.section12__container h4 {
  color: #fff;
  text-align: center;
}

/* ------------- ESTILO PAGINA CERVEZAS ------------- */

/* GRID */

.gridCervezas__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 3rem, 12rem, 1fr, 1fr, 1fr;
}

/* section 1 CERVEZAS  */

.tittle__fabricas {
  grid-column: 1/1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle__fabricas h2 {
  color: #fff;
  text-align: center;
}

/* section 2 CERVEZAS */

.fabricas__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fabricas__img img {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  padding: 1rem;
}

/* section 3  CERVEZAS */

.section3__cervezas {
  background-image: url(../imagenes/cervezafondo.jpg);
  background-size: cover;
  margin: 0 1rem;
}

.section3__fondo {
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.178);
}

/* --------------- ESTILOS PAGINA QUIENES SOMOS --------------- */

/* GRID */

.gridQuienesSomos__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
}

/* SECTION 1 QUIENES SOMOS */

.imgQuienesSomos__container {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgQuienesSomos__container img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/* SECTION 2 QUIENES SOMOS */

.paragraph__container {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph__container p {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

/* SECTION 3 QUIENES SOMOS  */

.h2QuienesSomos__container {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.h2QuienesSomos__container h2 {
  color: #fff;
  border-bottom: solid 0.1rem #0a6d4f;
  margin-bottom: 3rem;
}

/* SECTION 4 QUIENES SOMOS  */

.QuienesSomos__ubicacion {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------- ESTILOS PAGINA CONTACTO ------------- */

/* grid */

.gridQuienesSomos__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* SECTION 1 CONTACTO */

.tittleContacto__container {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittleContacto__container h2 {
  color: #fff;
  text-align: center;
  border-bottom: 0.1rem solid #0a6d4f;
}

/* SECTION 2 CONTACTO  */

.main__contacto {
  overflow: auto;
}

.main__formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 3rem;
}

.h2-contacto2 {
  text-align: center;
  font-size: x-large;
  color: #fff;
}

.form__input {
  border: none;
  background-color: transparent;
}

.submit,
.reset {
  margin-left: 3rem;
  background-color: #0a6d4f;
  border-radius: 10%;
  height: 2rem;
  width: 5rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
